body {
    background: url("bg.png") repeat;
    font-family: Tahoma;
}

div#container {
    display: block;
    position: fixed;
    top: 70px;
    left: 50%;
}

div#screen video, div#screen canvas {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -320px;
    top: 50px;
}

div#screen canvas {
    display: none;
}

div#bar {
    clear: both;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    text-align: center;
}

a.button, button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    background-color: #E5007C;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 4px;
    min-width: 200px;
}